//@forward "darkvars";
@import "darkvars";

:root
{
    --darkreader-border--bs-border-width: 1px;
    --darkreader-border--bs-border-color-translucent: rgba(140, 130, 115, 0.17);
    --darkreader-border--bs-modal-border-width: var(--darkreader-border--bs-border-width)
    --darkreader-border--bs-modal-border-color: var(--darkreader-border--bs-border-color-translucent);
}

body.aw-darkmode {
    background-color: rgb(24, 26, 27);
    color: rgb(158, 150, 137);
}
.aw-darkmode {
    & .navbar-area{
        background-image: initial;
        background-color: rgb(24, 26, 27);
    }
    & .navbar-nav .nav-item a{
        color: rgb(158, 150, 137);
    }
    & .navbar-nav .nav-item a.aw-discord {
        background-color: rgb(33, 53, 125);
        color: rgb(232, 230, 227);
    }
    & .navbar-nav .nav-item a.btn.aw-discord:hover {
        background-color: rgb(24, 26, 27);
        color: rgb(230, 144, 57);
    }

    & .sticky .navbar .navbar-nav .nav-item a {
        color: rgb(160, 189, 225);
    }

    & .card {
        background-color: rgb(24, 26, 27);
        border: 1px solid rgba(140, 130, 115, 0.17);;
    }

    & .card-header {
        color: #e8e6e3;
        background-color: transparent;
        border-bottom-color: rgba(140, 130, 115, 0.13);
    }

    & .card-body {
        color: #e8e6e3;
    }

    & .multiselect {
        outline-color: initial;
        background: var(--ms-bg, #181a1b);
        border: 1px solid #3c4143;
    }

    & .multiselect-search {
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        outline-color: initial;
        background: var(--ms-bg, #181a1b);
    }

    & .multiselect-dropdown {
        outline-color: initial;
        background: #181a1b;
        border: 1px solid #3c4143;
    }

    & .multiselect-option.is-pointed {
        color: #cdc8c2;
        background: #1e2022;
    }

    & input.multiselect-tags-search
    {
        color: rgb(209, 205, 199);
        background-color: #181a1b;
    }

    & .dropdown-menu {
        color: rgb(209, 205, 199);
        list-style-image: initial;
        background-color: rgb(24, 26, 27);
        border-color: rgba(140, 130, 115, 0.15);
        box-shadow: rgba(0, 0, 0, 0.18) 0px 0.5rem 1rem;
    }
    & .dropdown-item {
        color: rgb(209, 205, 199);
        background-color: transparent;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
    }

    & .dropdown-item:hover, .dropdown-item:focus {
        color: rgb(217, 213, 208);
        text-decoration-color: initial;
        background-color: rgb(27, 30, 31);
    }
    & .dropdown-divider {
        border-top-color: rgb(53, 58, 60);
    }

    & .btn {
        color: rgb(209, 205, 199);
        border-color: transparent;
    }
    & .btn:hover {
        color: rgb(209, 205, 199);
        text-decoration-color: initial;
        border-color: var(--bs-btn-hover-border-color);
    }

    & .btn-primary {
        color: rgb(232, 230, 227);
        background-color: rgb(0, 98, 204);
        border-color: rgb(0, 86, 179);
        box-shadow: none;
    }

    & .btn-primary:hover {
        color: rgb(232, 230, 227);
        background-color: rgb(0, 84, 174);
        border-color: rgb(0, 93, 194);
        text-decoration-color: initial;
    }

    & .btn-success {
        color: rgb(232, 230, 227);
        background-color: rgb(32, 134, 55);
        border-color: rgb(37, 156, 64);
        box-shadow: none;
    }
    & .btn-success:hover {
        color: rgb(232, 230, 227);
        background-color: rgb(26, 109, 45);
        border-color: rgb(40, 168, 69);
    }

    & .btn-light {
        color: rgb(203, 198, 192);
        background-color: rgb(27, 30, 31);
        border-color: rgb(50, 54, 56);
        box-shadow: none;
    }
    & .btn-light:hover {
        color: rgb(203, 198, 192);
        background-color: rgb(38, 41, 43);
        border-color: rgb(57, 62, 64);
    }

    & .btn-outline-secondary:hover {
        color: rgb(232, 230, 227);
        background-color: rgb(88, 95, 99);
        border-color: rgb(102, 94, 83);
    }

    & .btn-unique {
        background-color: var(--c-uniqued2, #181a1b);
        color: rgb(232, 230, 227);
    }
    & .btn-uniqued2:hover {
        background-color: var(--c-uniqued1);
        color: rgb(232, 230, 227);
    }

    & .aw-carddecklist div.aw-carddeck.aw-UNIQUE {
        background-color: var(--c-uniqued2) !important;
    }

    & .form-control {
        color: rgb(181, 175, 166);
        background-color: rgb(24, 26, 27);
        border-color: rgb(60, 65, 68);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px inset;
    }
    & .form-control:focus {
        color: rgb(181, 175, 166);
        background-color: rgb(24, 26, 27);
        border-color: rgb(0, 67, 140);
        outline-color: initial;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px inset;
    }

    & .input-group-text {
        color: rgb(181, 175, 166);
        background-color: rgb(35, 38, 39);
        border-color: rgb(60, 65, 68);
    }

    & .list-group-item {
        background-color: rgb(24, 26, 27);
        border-color: rgba(140, 130, 115, 0.13);
        color: #e8e6e3;
    }

    & .list-group-item.active {
        background-color: var(--c-uniqued2) !important;
        border-color: var(--c-unique) !important;
    }

    & .form-floating > .form-control:focus ~ label::after, .form-floating > .form-control:not(:placeholder-shown) ~ label::after, .form-floating > .form-control-plaintext ~ label::after, .form-floating > .form-select ~ label::after {
        background-color: #181a1b;
    }

    & .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-control-plaintext ~ label, .form-floating > .form-select ~ label {
        color: rgba(232, 230, 227,.65);
    }

    & .dp__input {
        background-color: #181a1b;
        outline-color: initial;
        color: #e8e6e3;
        border: 1px solid rgb(60, 65, 68);
    }

    & .dp__theme_light {
        --dp-background-color: #181a1b;
        --dp-text-color: #191b1c;
        --dp-text-color: #d3cfca;
        --dp-hover-color: #1f2123;
        --dp-hover-color: #33383a;
        --dp-hover-text-color: #d3cfca;
        --dp-hover-icon-color: #a59d92;
        --dp-primary-color: #145ea8;
        --dp-primary-color: #53a7eb;
        --dp-primary-color: #145da5;
        --dp-primary-disabled-color: #134e85;
        --dp-primary-text-color: #e8e6e3;
        --dp-secondary-color: #383d3f;
        --dp-secondary-color: #c4bfb7;
        --dp-border-color: #2b2f31;
        --dp-border-color: #3a3e41;
        --dp-menu-border-color: #3a3e41;
        --dp-border-color-hover: #464c4f;
        --dp-border-color-focus: #464c4f;
        --dp-disabled-color: #1d2021;
        --dp-scroll-bar-background: #1f2123;
        --dp-scroll-bar-color: #545b5e;
        --dp-success-color: #3d7928;
        --dp-success-color: #277627;
        --dp-success-color-disabled: #a3d9b1;
        --dp-icon-color: #a59d92;
        --dp-danger-color: #920e00;
        --dp-danger-color: #960e00;
        --dp-marker-color: #920e00;
        --dp-tooltip-color: #1b1d1e;
        --dp-disabled-color-text: #a1988c;
        --dp-highlight-color: rgba(20, 94, 168, 0.1);
        --dp-range-between-dates-background-color: var(--darkreader-bg--dp-hover-color, #1f2123);
        --dp-range-between-dates-text-color: var(--dp-hover-text-color, #d3cfca);
        --dp-range-between-border-color: var(--dp-hover-color, #33383a);
        --dp-loader: 5px solid #1976d2;
    }

    & .portfolio {
        border: 1px solid rgb(60, 65, 68);
    }

    
    & .modal-content {
        background-color: rgb(24, 26, 27);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0.25rem 0.5rem;
        outline-color: initial;
        color: #e8e6e3;
        border: var(--darkreader-border--bs-modal-border-width) solid var(--darkreader-border--bs-modal-border-color);
    }
    & .modal-header {
        border-bottom-color: rgb(53, 58, 60);
    }
}




