@font-face {
  font-family: 'AlteredIcons';
  src:  url('AlteredIcons.eot?4w5urt');
  src:  url('AlteredIcons.eot?4w5urt#iefix') format('embedded-opentype'),
    url('AlteredIcons.ttf?4w5urt') format('truetype'),
    url('AlteredIcons.woff?4w5urt') format('woff'),
    url('AlteredIcons.svg?4w5urt#AlteredIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i[class^="altered"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'AlteredIcons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.altered-1:before {
  content: "\e900";
}
.altered-2:before {
  content: "\e901";
}
.altered-3:before {
  content: "\e902";
}
.altered-4:before {
  content: "\e903";
}
.altered-5:before {
  content: "\e904";
}
.altered-6:before {
  content: "\e905";
}
.altered-7:before {
  content: "\e906";
}
.altered-8:before {
  content: "\e907";
}
.altered-9:before {
  content: "\e908";
}
.altered-etb:before {
  content: "\e909";
}
.altered-exhaust:before {
  content: "\e90a";
}
.altered-forest:before {
  content: "\e90b";
}
.altered-hand:before {
  content: "\e90c";
}
.altered-mountain:before {
  content: "\e90d";
}
.altered-reserve:before {
  content: "\e90e";
}
.altered-support:before {
  content: "\e90f";
}
.altered-ocean:before {
  content: "\e910";
}
.altered-x:before {
  content: "\e911";
}