/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

:root {
  --c-axiom: #6B4236;
  --c-bravos: #982925;
  --c-lyra: #A9365E;
  --c-muna: #3B6331;
  --c-ordis: #0B5974;
  --c-yzmir: #714A79;
  --c-axiomtp: #6B423633;
  --c-bravostp: #98292533;
  --c-lyratp: #A9365E33;
  --c-munatp: #3B633133;
  --c-ordistp: #0B597433;
  --c-yzmirtp: #714A7933;
  --c-common: #ADB7C6;
  --c-commond2: #7d8897;
  --c-rare: #0AB6FA;
  --c-rared2: #0883b4;
  --c-unique: #FFB410;
  --c-uniqued2: #aa7708;
  --c-forest: #B4BF4D;
  --c-mountain: #BE8049;
  --c-water: #648AB9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.ml-auto {
  margin-left: auto !important;
}

.btn-unique
{
  background-color: var(--c-unique);
  color: #fff;
}
.btn-unique:hover
{
  background-color: var(--c-uniqued2);
  color: #fff;
}
.btn-rare
{
  background-color: var(--c-rare);
  color: #fff;
}
.btn-rare:hover
{
  background-color: var(--c-rared2);
  color: #fff;
}
.btn-common
{
  background-color: var(--c-common);
  color: #fff;
}
.btn-common:hover
{
  background-color: var(--c-commond2);
  color: #fff;
}

.btn:disabled, .btn.disabled{
  background-color: grey;
  border-color: grey;
  opacity: 0.7;
}

.btn-uniqued2
{
  background-color: var(--c-uniqued2);
  color: #fff;
}
.btn-uniqued2:hover
{
  background-color: var(--c-unique);
  color: #fff;
}

img.aw-alteredcard
{
  border-radius: 5px;
}